
<section class="contenedor">

  <section class="izquierda">

    <img src="../assets/logoBoca2.png">

    <div class="option_menu">
      <img src="../assets/inicio1.png">
      <h4>        
        Home
      </h4>
    </div>

    <div class="option_menu">
      <img src="../assets/numeral3.jpeg">
      <h4>        
        Explore
      </h4>
    </div>

    <div class="option_menu">
      <img src="../assets/notificacion.png">
      <h4>        
        Notifications
      </h4>
    </div>    

    <div class="option_menu">
      <img src="../assets/correo1.png">
      <h4>
        Messages
      </h4>
    </div>  

    <div class="option_menu">
      <img src="../assets/book1.png">
      <h4>
        Bookmarks
      </h4>
    </div>   
    <div class="option_menu">
      <img src="../assets/lista.png">
      <h4>
        Lists
      </h4>
    </div>     

    <div class="option_menu">
      <img src="../assets/usuario.png">
      <h4>
        Profile
      </h4>
    </div>  

    <div class="option_menu">
      <img src="../assets/opciones.png">
      <h4>
        More
      </h4>
    </div>  

  </section>


  <section class="centro">    
      <section class="perfil">
          <img src="../assets/logo3.jpg">
          <h4>Tú ya sabes...</h4>

          <div class="opciones_perfil">
            <img class="iconos_perfil" id="img_per1" src="../assets/ico_img.png">
            <img class="iconos_perfil" src="../assets/gif.png">
            <img class="iconos_perfil" src="../assets/estadistica.png">
            <img class="iconos_perfil" src="../assets/carita.png">
            <img class="iconos_perfil" src="../assets/calendario.png">
          </div>
         
      </section>
      <br>

      <section class="comentario">
        <img src="../assets/logo3.jpg">
        <h4 >Devon Lane</h4>
        <h4 id="comentario" >Tom is in a big hurry...</h4>  
        
        <div class="imagen_com">
          <img id="img_com" src="../assets/astro.jpeg">
        </div> 

      </section>

      <section class="comentario">
        <img src="../assets/logo3.jpg">
        <h4 >Devon Lane</h4>
        <h4 id="comentario" >Tom is in a big hurry...</h4>  
        
        <div class="imagen_com">
          <img id="img_com" src="../assets/astro.jpeg">
        </div> 

      </section>
   
  </section>


  <section class="derecha">
    <div>
      <img src="../assets/busqueda.png" class="icono_buscar">   
      <input type="text" name="" id="txtbuscar" class="buscar" placeholder="Buscar">    
    </div>

    <div class="ultimos_ch">
      <label for="" class="texto_page">Ultimos chismes</label>

      <div class="lista_chismes">
        <h3 class="titulo_chisme"> Covid19 Last night</h3>

        <div class="noticia">
          <p class="texto_chisme">
            En Inglaterra subió el número de pacientes infectados con covid 19. Se estima que suba un 8% comparado con el mes anterior de abril.
          </p>

          <img src="../assets/noticia1.jpg" alt="">
        </div>

        <h3 class="titulo_chisme"> Covid19 Last night</h3>

        <div>
          <p class="texto_chisme">
            En Inglaterra subió el número de pacientes infectados con covid 19. Se estima que suba un 8% comparado con el mes anterior de abril.
          </p>

          <img src="../assets/noticia1.jpg" alt="">
        </div>                      
      </div>
    </div>

    <div class="tops">
      <label for="" class="texto_page">BocaSuelta Top's</label>
    </div>
    
          
  </section>


</section>

